﻿/* Printer Friendly CSS */

#bannerImage
{
    display:none !important;    
}

#headerContainer
{
    border-bottom:none !important;
}

#languageToggle
{
    float: left !important;
}

#navBarContainer
{
    display:none !important;
}

#welcomeButton
{
    display:none !important;
}

#baseNav
{
    display:none !important;
}

#quickSearch, #advancedSearch
{
    display:none !important;
}


#footer
{
    display:none !important;
}



