﻿#outer
{
    position: static;
}
.showMap
{
    width: 100% !important;
}
.fhrsSearchResultsPad, .ResultsBusinessNameAddress
{
    padding: 0;
    padding-left: 5px;
}
.fhrsSearchResults .pagingItemsPerPage, .fhrsSearchResults .pageLeft
{
    width: 100%;
    padding: 0;
    margin-top: 5px;
}
.ResultsBusinessName, .ResultsBusinessAddress, .ResultsBusinessPostcode, .ResultsRightToReply
{
    /*word-break: break-all;*/
    word-wrap: break-word;
    padding-right: 4px;
}
.showMap .ResultsBusinessDetails, .showMap .ResultsBusinessDetailsHeader
{
    width: 25%;
}
.ResultsBusinessNameAddress
{
    padding: 0;
}
.fhrsSearchAction label
{
    width: 100%;
}
    
.searchAreaSelector {
    width:100%;
}
.includeDistanceLabel {
    float: left;
}
.searchAreaDropDown {
    float: left;
}
.locationRadarIcon {
    /*position: absolute;
    left: 87%;
    top: 104px;*/
    float: left;
    margin-left: -34px;
    margin-top: 24px;
    width: 30px;
    height: 40px;
    background: url('../images/RadarTargetMobile.png') no-repeat;
    display:block;
}

.searchAddress
{
    float: left;
    width: 100% !important;
    /*padding-right: 30px;*/
}

.locationServiceError {
    background-position: 0 -40px;
}
    
.locationServiceOff {
    background-position: 0 -40px;
}
    
.locationFound {
    background-position: 0 -80px;
    top: 134px;
} 
    
.locationSwitchCheckbox
{
    float: right;
}
    
.locationSwitchLabel
{
    width: 198px;
}
.cannotUseLocationLabel
{
    width: 260px;
}    
.fhrsSearchResults .ResultRow
{
    padding: 2px;
    width: auto;
}
.fhrsSearchResults .ResultsAddressDetails
{
    width: 100%;
    max-width: 100%;
}
input, select
{
    width: 97% !important;
    height: 40px;
    line-height: 40px;
    font-size: 1.8em !important;
        
}

.fhrsLocalAuthoritysByRegionMap
{
    margin: 10px auto;
    float: none;
}

.fhrsSearchAction .fhrsShowHideAdvancedOptionsContainer
{
    width: 100%;
}

.fhrsEstablishmentDetails #authorityDetails
{
    float: none;
    word-wrap: break-word;
}

.fhrsLocalAuthority .pageIntro p
{
    width: 100%;
}

.SearchResultsReturnCount
{
    margin: 5px !important;
}

input[type="radio"], input[type="checkbox"]
{
    width: auto !important;
    height: auto
}

.searchFilterDropDowns, .fhrsShowMap
{
    width: 100% !important;
    margin: 5px 0 !important;
}

.fhrsShowMap label
{
    float: left !important;
}

.fhrsSearchAction .fhrsSearch
{
    width: 100%;
}

.localAreaSearch .btn, .pageLeft .btn
{
    width: 97% !important;
    float: none;
    height: 40px
}

button.btn
{
    padding: 6px;
}

.flagWrap
{
    background-image: none !important;
    padding: 7px 8px 4px !important;
}

.fhrsNationTitleBanner
{
    margin: 10px 10px;
    height: auto;
}

.fhrsNationTitleBanner P
{
    font-size: 2.2em;
}

/*Business Details Mobile Styles*/
.fhrsEstablishmentDetails .details
{
    float: left;
}

/*Find Your Area Mobile Styles*/
.fhrsLocalAuthority
{
    padding: 0 10px;
    overflow: hidden;
}

.fhrsLocalAuthoritiesByRegion
{
    float: left;
    margin: 20px 0;
    width: 100%;
}

.fhrsLocalAuthority .socialFooter
{
    margin: 20px 0;
    clear: both;
    float: none;
}

/*Search Results Mobile Styles*/
#SearchResultsExpandedSpacer, #SearchResultsSpacer, .fhrsSearchResults caption, .fhrsSearchResults .uxResults thead tr, .fhrsSearchResults .ResultsMarker, .fhrsSearchResults .shareResults, .fhrsSearchResults .shareResultsHeader
{
    display: none !important;
}

.ResultsRatingValue, .ResultsRatingDate
{
    vertical-align: top;
}

.ResultsRatingDateHeader
{
    white-space: normal; /* CSS3 */
}

.ResultsRatingValue .columnPadding
{
    padding-left: 0 !important;
}

.fhrsSearchResults #socialWrapper
{
    float: none;
}

.fhrsSearchResults #pagingContainer, .fhrsLocalAuthoritiesByRegion #pagingContainer
{
    padding-bottom: 5px;
}

.BottomSearchBoxItemsExpanded
{
    left: auto;
    position: relative;
    top: auto;
}

.fhrsSearchResults
{
    padding: 10px;
}

.fhrsSearchResults .map table,
.fhrsSearchResults .map td 
{
    width: 100%;
}

#MapResults
{
    position: relative;
    width: auto;
}

.fhrsSearchResults .showMap
{
    float: left;
    width: 100%;
}

.fhrsSearchResults .map
{
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

.fhrsSearchResults .results .columnPadding
{
    padding: 5px;
}

.fhrsSearchResults .results .ratingColumnPadding
{
    padding: 5px;
    text-align: center;
    padding-left: 0px;
}

.fhrsSearchResults #pagingPrevious
{
    float: left;
    margin-left: 0;
}

.fhrsSearchResults .ResultsBusinessDetails, .fhrsSearchResults .shareResults
{
    padding: 0;
    padding-right: 4px;
}

.fhrsSearchResults .socialWrapperMobile
{
    display: block;
}

.shareLabel
{
    display: none;
}
.shareLabelMobile
{
    display: block;
    float: left;
    margin-right: 5px;
}
.toolBoxWrapper
{
    float: left;
    padding-bottom: 0;
}

.fhrsSearchResults .uxResults .toolBoxWrapper
{
    border: none;
    border-radius: 0;
    padding: 2px;
}

.fhrsSearchResults #infoBox .toolBoxWrapper
{
    border: none;
    border-radius: 0;
    padding: 0;
}

.fhrsSearchResults #infoBox .toolBoxWrapper .addthis_toolbox a, .fhrsSearchResults .uxResults .toolBoxWrapper .addthis_toolbox a
{
    margin: 2px;
}

.fhrsSearchResults .uxResults .toolBoxWrapper .addthis_bubble_style
{
    display: none !important;
}


.fhrsSearchResults .uxResults .toolBoxWrapper .addthis_button_print
{
    display: none !important;
}

.searchFilterDropDowns
{
    padding-left: 0;
}

/* Search box mobile restyle */
.localAreaSearch FIELDSET div.first, .localAreaSearch FIELDSET div.last
{
    width: 100%;
}

.searchBoxSelector
{
    height: 4em;
}
.SearchBusinessType {
    height: 5em;
}
    
.searchOrderSelector
{
    position: relative;
    height: 4em;
}
.searchBoxSelector label
{
    width: 100%;
}
.searchBoxSelector .searchDropDown, .searchOrderSelector select
{
    top: 0;
    left: 0;
    width: 100%;
}

#filterOptions
{
    padding-bottom: 20px;
}

.BottomSearchBox
{
    float: left;
}

.fhrsShowHideAdvancedOptionsContainer
{
    margin-bottom: 10px;
}

.fhrsSearchAction .fhrsShowMap
{
    width: 100%;
}

.fhrsSearchAction .fhrsSearch
{
    float: right;
}
.fhrsSearchAction .BottomSearchBox
{
    width: 100%;
}


/*Establishment page */
.fhrsEstablishmentDetails .clsNoBingMap
{
    padding: 5px 0 0 0;
}

.fhrsEstablishmentDetails .map
{
    min-height: 40px;
}

.condensedText
{
    font-size: 0.65em;
}

.fhrsSearchResults #pagingNext, .fhrsSearchResults #pagingLast
{
    margin-left: 0;
}

.fhrsSearchResults .searchResultsPager
{
    display: none;
}

.fhrsSearchResults .showMap .searchResultsPager
{
    display: block !important;
}

.fhrsSearchResults .moreResults, .fhrsSearchAction .fhrsSearch .btn
{
    display: block;
    margin: 20px 20px 20px 5px;
    font-weight: bold;
    float: left;
    width: 100%;
}
.fhrsSearchResults .moreResults input, .fhrsSearchAction .fhrsSearch .btn
{
    padding: 6px;
}

.fhrsSearchAction .fhrsSearch .btn span.m span {
    background: none;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.fhrsSearchResults #pagingContainer, .fhrsLocalAuthoritiesByRegion #pagingContainer
{
    width: 100%;
}

.fhrsSearchResults .pagingLinks, .fhrsSearchResults .linkWrapper, .fhrsLocalAuthoritiesByRegion .pagingLinks, .fhrsLocalAuthoritiesByRegion .linkWrapper
{
    color: #FFFFFF;    
    padding: 6px 2px;
    width: 23.5%;
    font-size: 1.1em !important;
    min-width: 70px;
}
    
.fhrsSearchResults .moreResults .btn, .fhrsSearchResults #pagingContainer .pagingLinks, .fhrsLocalAuthoritiesByRegion #pagingContainer .pagingLinks, .fhrsSearchAction .fhrsSearch .btn
{
    background: -moz-linear-gradient(center top , #398E6E 15%, #02684A 55%) repeat scroll 0 0 transparent ;
    background: -webkit-linear-gradient(top,#398E6E 15%,#02684A 55%) ;
    background: -o-linear-gradient(top,#398E6E 15%,#02684A 55%) ;
    background: -ms-linear-gradient(top,#398E6E 15%,#02684A 55%) ;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(15%, #398E6E),color-stop(55%, #02684A)) ;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#398E6E',endColorstr='#02684A',GradientType=0);
    border: 1px solid #02684A;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    text-align: center;
}
.fhrsSearchResults #pagingContainer .aspNetDisabled, .fhrsLocalAuthoritiesByRegion #pagingContainer .aspNetDisabled
{
    background: #626161 none repeat 0 0;
    border: 1px solid #626161;
    color: #FFFFFF !important;
    cursor: default !important;
    -webkit-appearance: none;
}
.iphone .fhrsSearchResults #pagingContainer .aspNetDisabled, .iphone .fhrsLocalAuthoritiesByRegion #pagingContainer .aspNetDisabled
{
    background:black !important;
    -webkit-appearance: none;
}
.iphone .fhrsSearchResults #pagingContainer .pagingLinks, .iphone .fhrsLocalAuthoritiesByRegion #pagingContainer .pagingLinks,
.ie9 .fhrsSearchResults #pagingContainer .pagingLinks, .ie9 .fhrsLocalAuthoritiesByRegion #pagingContainer .pagingLinks
{
    line-height: 20px;
}

.fhrsLocalAuthoritiesByRegion #pagingPrevious, .fhrsLocalAuthoritiesByRegion #pagingNext, .fhrsLocalAuthoritiesByRegion #pagingLast
{
    margin-left: 0;
}
.fhrsSearchResults .showMap .moreResults
{
    display: none !important;
}
    
.results #socialWrapper .toolBoxWrapper
{
    margin-top: 10px;
}
    
#openDataImages img 
{
    clear: left;
    float: left;
    padding: 5px;    
}
#openDataImages 
{
    clear: both;
    display: inline-block
           
}
#openDataImages ul {
float: left;
}
#openDataStatic table thead th, #openDataStatic table thead td,
#openDataStatic table td
{
    font-size: 1em;
    width: 25%;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0.2em 0.5em;
    white-space: normal
}
.openDataTitle 
{
    margin: 10px 0
}
.openDataTitleText {
    width: 76%;
}