﻿/*shared page styles*/
.dontShow 
{
    display: none;    
}
.printOnly
{
    display: none;
}
.shareTitle
{
    float: left;
    font-size: 1.1em;
}
.shareLabel
{
    float: right;
}
.shareLabelMobile
{
    display: none;
}
.socialWrapper
{
    text-align: right;
}
.socialWrapperNoResults
{
    margin-top: 10px;
    padding-bottom: 10px;
}
.disabledSocialMedia
{
    background-image: Url('/images/SocialLinksLinear_disabled.png');
    background-repeat: no-repeat;
}
.toolBoxWrapper
{
    text-align: right;
    float: right;
    padding-bottom: 5px;
}
.ie7 .toolBoxWrapper
{
    float: none;
}
.fhrsNationTitleBanner
{
    height: 36px;
    padding: 6px 12px;
    margin: 10px 0 10px;
    background: #c9d85b;
    border-radius: 7px;
}
.ie7 .fhrsNationTitleBanner .cnrTL, .ie8 .fhrsNationTitleBanner .cnrTL
{
    width: 7px;
    height: 7PX;
    background: url('../images/banner_tl.gif') no-repeat;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.ie7 .fhrsNationTitleBanner .cnrTR, .ie8 .fhrsNationTitleBanner .cnrTR
{
    width: 7px;
    height: 7PX;
    background: url('../images/banner_tr.gif') no-repeat;
    display: block;
    position: absolute;
    top: 0;
    left: 930px;
}
.ie7 .fhrsNationTitleBanner .cnrBR, .ie8 .fhrsNationTitleBanner .cnrBR
{
    width: 7px;
    height: 7PX;
    background: url('../images/banner_bl.gif') no-repeat;
    display: block;
    position: absolute;
    top: 42px;
    left: 0;
}
.ie7 .fhrsNationTitleBanner .cnrBL, .ie8 .fhrsNationTitleBanner .cnrBL
{
    width: 7px;
    height: 7PX;
    background: url('../images/banner_br.gif') no-repeat;
    display: block;
    position: absolute;
    top: 42px;
    left: 930px;
}
.ie7 .openDataTitle .cnrTR, .ie8 .openDataTitle .cnrTR
{
    top: 0;
    left: 693px;
}
.ie7 .openDataTitle .cnrBL, .ie8 .openDataTitle .cnrBL
{
    top: 42px;
    left: 693px;
}
.openDataTitleText {
    float: left;
}
.fhrsNationTitleBanner P
{
    margin: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    color: #000000;
    font-size: 2.8em;
    font-weight: normal;
}
.fhrsNationTitleBanner H1
{
    color: #000000;
}
.maxWidth320
{
    max-width: 320px;
}
.condensedText
{
    font-size: 0.9em;
}
.addTopMargin20
{
    margin-top: 20px;
}
.interactive .fhrsInfomationContainer .logoContainer
{
    clear: both;
}
.interactive .fhrsInfomationContainer .logoContainer .fhrsLogo
{
    float: left;
    margin: 5px;
    height: 100px;
    text-align: center;
    width: 100px;
}
.interactive .fhrsInfomationContainer .logoContainer .fhisLogo
{
    background: url(../images/fhis_100x100.jpg) no-repeat 0 0;
    float: left;
    margin: 5px;
    height: 100px;
    text-align: center;
    width: 100px;
}
.interactive .fhrsInfomationContainer .descriptionContainer
{
    clear: both;
}
.interactive .fhrsInfomationContainer .descriptionContainer .fhrsContent
{
    float: left;
    font-size: 1.2em;
    margin: 5px;
    text-align: left;
    width: 105px;
}
.interactive .fhrsInfomationContainer .descriptionContainer .heading
{
    font-weight: bold;
}
.interactive .fhrsInfomationContainer .descriptionContainer .fhisContent
{
    float: left;
    font-size: 1.2em;
    margin: 5px;
    text-align: left;
    width: 95px;
}
.JS .hideWithJS
{
    display: none;
}
.noJS .fhrsShowHideAdvancedOptionsContainer
{
    display: none;
}
.noJS .btn
{
    display: none;
}
.noJS .fhrsShowMap
{
    display: none;
}
.noJS .results
{
    width: 100%;
}
.noJS .map
{
    display: none;
}
thead th, thead span
{
    color: #006F51;
    font-weight: bold;
    margin: 0;
}
thead th, thead td
{
    background: none repeat scroll 0 0 #F2F2F2;
    white-space: nowrap;
}
.statementBannerSubText, .ratingsBanner
{
    font-size: 1.4em !important;
    color: Black;
}
.ratingsBanner
{
    margin-bottom: 5px;
    line-height: 1.2em;
}
.ratingsBanner p.more
{
    font-size: 0.8em !important;
    font-weight: bold;
    margin-top: 5px;
    line-height: 1.4em;
}
.ratingsBanner h1
{
    color: Black;
    line-height: 1.2em;
    margin: 0 0 0.3em;
    font-size: 1.4em !important;
}
#openDataInto h1
{
    position: relative;
    width: auto;
    height: auto;
    overflow: auto;
}
.selectedPageNav
{
    color: #02684a;
    font-weight: bold;
}
UL#nationNav LI.current
{
    text-decoration: underline;
}
.primary .localAreaSearch
{
    margin-bottom: 0;
}
.ie7 UL#nationNav LI.current
{
    display: block;
    border-bottom: solid 1px;
    padding: 0;
}

/*local authority page*/
.fhrsLocalAuthority .pageIntro p
{
    width: 50%;
}
.fhrsLocalAuthority .socialFooter
{
    float: left;
    margin: 20px 10px;
}
.fhrsLocalAuthoritysByRegionMap
{
    float: left;
    width: 320px;
    height: 440px;
    background-image: url("../images/ukmapregions.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: 4160px 440px;
    float: left;
    margin: 10px 0;
}
.fhrsLocalAuthoritysByRegionMap img
{
    border: none;
}
.fhrsLocalAuthoritiesByRegion
{
    float: left;
    margin: 10px;
    width: 320px;
    clear: right;
}
.fhrsLocalAuthoritiesByRegion #pagingContainer
{
    float: left;
    white-space: nowrap;
}
.fhrsLocalAuthoritiesByRegion table
{
    table-layout: fixed;
}
.fhrsLocalAuthoritiesByRegion .establishmentCount
{
    word-wrap: break-word;
}
.fhrsLocalAuthoritiesByRegion #pagingContainer .pagingLinks
{
    border: none;
    background: transparent;
    cursor: pointer;
    color: #006F51;
    white-space: nowrap;
}
.fhrsLocalAuthoritiesByRegion #pagingContainer .aspNetDisabled
{
    color: Gray !important;
    background: transparent;
    cursor: default;
}
.fhrsLocalAuthoritiesByRegion #pagingFirst
{
    float: left;
}
.fhrsLocalAuthoritiesByRegion #pagingPrevious
{
    float: left;
    margin-left: 2px;
}
.fhrsLocalAuthoritiesByRegion #pagingNext
{
    float: left;
    margin-left: 2px;
}
.fhrsLocalAuthoritiesByRegion #pagingLast
{
    float: left;
    margin-left: 2px;
}

/*local authority Search page */
.laSearchPageIntro
{
    margin: 0 0 16px !important;
}
.fhrsLocalAuthoritySearch #authorityDetails
{
    float: left;
    margin: 0;
    font-size: 1.2em;
    padding: 0 0 20px;
    width: 100%;
}
.fhrsLocalAuthoritySearch #authorityImage
{
    float: left;
    width: 100%;
    padding-bottom: 21px;
}
.fhrsLocalAuthoritySearch #authorityImage img
{
    max-width: 100%;
    max-height: 80px;
}
.laSearchPageHeading
{
    float: left;
    width: 100%;
    margin-bottom: 3px;
}
.localAuthoritySearchText
{
    height: auto;
}
.BottomSearchBox
{
    float: right;
}
.localAreaSearch
{
    padding: 5px 11px 15px;
}

/*standard search page*/
.fhrsSearchResults
{
    clear: both;
    padding: 10px 0;
}
.fhrsSearchResults .results
{
    float: left;
    width: 100%;
}
.showMap
{
    width: 590px !important;
}
.showMap .shareResults
{
    display: none;
}
.fhrsSearchResults .map
{
    float: left;
    height: 600px;
    border: none;
    display: block;
    width: 340px;
    margin-left: 5px;
}
.fhrsSearchResults .map thead th, .fhrsSearchResults .map thead td
{
    padding: 0.73em 0;
}
.ie7 .fhrsSearchResults .map
{
    padding-top: 0;
    margin-right: 0;
}
#MapResults
{
    width: 340px;
    height: 500px;
    position: relative;
}
.fhrsSearchResults .map td
{
    border: none;
    width: 340px;
    padding: 10px 0 0;
}
.fhrsSearchResults table
{
    border-collapse: collapse;
    border: none;
}
.fhrsSearchResults .ResultRow
{
    border-bottom: solid 1px #5D9611;
    font-size: 1.2em;
    display: table;
}
.fhrsSearchResults .ResultsHeaderRow
{
    border-bottom: none;
    display: table;
    width: 100%;
}
.fhrsSearchResults .ResultsHeaderRow img
{
    float: right;
    overflow: auto;
    padding: 0 4px;
}
.fhrsSearchResultsPad, .ResultsBusinessNameAddress
{
    padding: 0 10px;
    float: left;
}
.fhrsSearchResults .uxResults
{
    float: left;
    width: 100%;
}
.fhrsSearchResults .ResultsBusinessDetails, .fhrsSearchResults .shareResults
{
    padding: 10px;
}
.fhrsSearchResults .ResultsAddressDetails
{
    width: 220px;
    float: left;
}
.ResultsBusinessDetailsHeader, .ResultsRatingValueHeader, .ResultsRatingDateHeader, .shareResultsHeader, .fhrsSearchResults thead th, .fhrsSearchResults thead td
{
    font-weight: bold;
    margin: 0;
    padding: 0.6em 0;
    text-align: left;
    vertical-align: top;
    font-size: 1.2em;
    line-height: 1.4em;
    white-space: normal;
    border-collapse: collapse;
    background-color: #5D9611;
    border: solid 1px white;
    color: White !important;
}
.ie7 .ResultsRatingDateHeader
{
    padding: 0.75em 0 0.70em;
    border-bottom: 0;
}
.ResultsBusinessDetailsHeader a, .ResultsRatingValueHeader a, .ResultsRatingDateHeader a, .shareResultsHeader a
{
    color: White !important;
}
.ResultsRatingDate, .shareResults
{
    vertical-align: top;
}
.ie7 .ResultsRatingDateHeader, .ie7 .ResultsRatingDate
{
    border-right: none;
    width: 24%;
}
.ie7 .ResultsRatingDate
{
    padding: 0 !important;
}
.ie7 .ResultsBusinessDetailsHeader, .ie7 .ResultsRatingValueHeader, .ie7 .ResultsRatingDateHeader, .ie7 .shareResultsHeader, .ie7 .ResultsBusinessDetails, .ie7 .ResultsRatingValue, .ie7 .ResultsRatingDate, .ie7 .shareResults
{
    float: left;
    display: block;
}
#SearchResultsSpacer
{
    display: block;
    height: 383px;
}
.ie7 #SearchResultsSpacer
{
    height: 390px;
}
#SearchResultsExpandedSpacer
{
    display: block;
    height: 40px;
}
.SearchResultsReturnCount
{
    float: left;
    font-size: 1.2em;
    font-weight: 700;
    margin-top: -25px;
}
.ie7 .SearchResultsReturnCount
{
    margin-top: -46px;
}
.cy-GB .SearchResultsReturnCount
{
    width: 40%;
    margin-top: -36px;
}
.ie7.cy-GB .SearchResultsReturnCount
{
    margin-top: -56px;
}
.fhrsSearchResults #pager
{
    padding: 5px;
    margin-bottom: 10px;
    width: 98%;
}

.fhrsSearchResults .moreResults
{
    display: none;
}

.fhrsSearchResults #pagingContainer
{
    float: left;
}
.fhrsSearchResults #pagingContainer .pagingLinks
{
    border: none;
    color: #006F51;
    background: transparent;
    cursor: pointer;
}
.fhrsSearchResults #pagingContainer .aspNetDisabled
{
    color: Gray !important;
    cursor: default;
}
.fhrsSearchResults #pagingFirst
{
    float: left;
}
.fhrsSearchResults #pagingPrevious
{
    float: left;
    margin-left: 20px;
}
.fhrsSearchResults #pagingNext
{
    float: left;
    margin-left: 25px;
}
.fhrsSearchResults #pagingLast
{
    float: left;
    margin-left: 20px;
}
.fhrsSearchResults #pagingTotal
{
    float: right;
}
.fhrsSearchResults #pagingResults
{
    float: left;
    margin-left: 20px;
}
.fhrsSearchResults .pagingItemsPerPage
{
    display: block;
    float: right;
    padding-top: 10px;
    width: auto;
}
.fhrsSearchResults .pageLeft
{
    float: left;
    padding-left: 5px;
}
.pagerGotoPageText
{
    width: 24px;
}
.fhrsSearchResults #socialWrapper
{
    display: block;
    float: right;
    margin: 10px 0;
    right: 0;
}
.fhrsSearchResults #socialWrapper .toolBoxWrapper, .fhrsEstablishmentDetails #socialWrapper .toolBoxWrapper
{
    padding-bottom: 0;
}
.fhrsSearchResults .ResultRow .socialWrapper
{
    float: left;
}
.fhrsSearchResults .socialWrapperMobile
{
    display: none;
}
.ResultRow
{
    clear: left;
    width: 100%;
}
.ResultsMarker
{
    display: none;
}
.showMap .ResultsMarker
{
    height: 39px;
    width: 10%;
    margin-right: 10px;
    display: block;
    float: left;
}
.ResultsBusinessNameAddress
{
    height: 100%;
    float: left;
}
.showMap .ResultsBusinessNameAddress
{
    width: 70%;
}
.ResultsBusinessDetails, .ResultsBusinessDetailsHeader, .ResultsRatingValue, .ResultsRatingValueHeader, .ResultsRatingDate, .ResultsRatingDateHeader, .shareResults, .shareResultsHeader
{
    width: 25%;
    display: table-cell;
    vertical-align: top;
}
.shareResults .toolBoxWrapper
{
    width: 100%;
}
.shareResults .addthis_toolbox
{
    float: left;
}
.ie7 .ResultsBusinessDetails, .ie7 .ResultsRatingValue, .ie7 .ResultsRatingDate, .ie7 .shareResults
{
    padding-left: 1px;
    padding-right: 1px;
}
.ie7 .shareResultsHeader
{
    border-right: 0 !important;
}
.ResultsRatingValue, .ResultsRatingValueHeader
{
    min-width: 120px;
}
.ie7 .shareResults, .ie7 .shareResultsHeader
{
    width: 24%;
}
.showMap .ResultsBusinessDetails, .showMap .ResultsBusinessDetailsHeader
{
    width: 50%;
}
.ResultsBusinessName, .ResultsBusinessAddress, .ResultsBusinessPostcode, .ResultsRightToReply
{
    width: 100%;
    float: left;
}
.ResultsBusinessAddress p {
    line-height: inherit;
    font-size: inherit;
    margin-bottom: 0;
}
.ResultsHeaderRatingLiteral {
    width: 65%;
}
.showMap .shareResults, .showMap .shareResultsHeader
{
    display: none;
}
.fhrsSearchResults .results .columnPadding
{
    padding: 10px;
}

.fhrsSearchResults .results .ratingColumnPadding
{
    padding: 10px;
    text-align: center;
}
.ResultsRatingValue img
{
    max-width: 120px;
}
.EstablishmentRatingDateWithLocation
{
    clear: left;
}

.ResultMarker1
{
    background-image: url('../images/BingPins/1.png');
    background-repeat: no-repeat;
    cursor: pointer !important;
}
.ResultMarker1:hover
{
    background-position: 0 -39px;
}
.ResultMarker2
{
    background-image: url('../images/BingPins/2.png');
    background-repeat: no-repeat;
    cursor: pointer !important;
}
.ResultMarker2:hover
{
    background-position: 0 -39px;
}
.ResultMarker3
{
    background-image: url('../images/BingPins/3.png');
    background-repeat: no-repeat;
    cursor: pointer !important;
}
.ResultMarker3:hover
{
    background-position: 0 -39px;
    cursor: pointer !important;
}
.ResultMarker4
{
    background-image: url('../images/BingPins/4.png');
    background-repeat: no-repeat;
    cursor: pointer !important;
}
.ResultMarker4:hover
{
    background-position: 0 -39px;
}
.ResultMarker5
{
    background-image: url('../images/BingPins/5.png');
    background-repeat: no-repeat;
    cursor: pointer !important;
}
.ResultMarker5:hover
{
    background-position: 0 -39px;
}
.ResultMarker6
{
    background-image: url('../images/BingPins/6.png');
    background-repeat: no-repeat;
    cursor: pointer !important;
}
.ResultMarker6:hover
{
    background-position: 0 -39px;
}
.ResultMarker7
{
    background-image: url('../images/BingPins/7.png');
    background-repeat: no-repeat;
    cursor: pointer !important;
}
.ResultMarker7:hover
{
    background-position: 0 -39px;
}
.ResultMarker8
{
    background-image: url('../images/BingPins/8.png');
    background-repeat: no-repeat;
    cursor: pointer !important;
}
.ResultMarker8:hover
{
    background-position: 0 -39px;
}
.ResultMarker9
{
    background-image: url('../images/BingPins/9.png');
    background-repeat: no-repeat;
    cursor: pointer !important;
}
.ResultMarker9:hover
{
    background-position: 0 -39px;
}
.ResultMarker10
{
    background-image: url('../images/BingPins/10.png');
    background-repeat: no-repeat;
    cursor: pointer !important;
}
.ResultMarker10:hover
{
    background-position: 0 -39px;
}
.clusterMarker
{
    background-image: url('../images/BingPins/cluster.png');
    background-repeat: no-repeat;
    cursor: pointer !important;
}
.clusterMarker:hover
{
    background-position: 0 -39px;
}
.topPin
{
    background-position: 0 -39px;
}
.noResultsWrapper
{
    width: 100%;
    text-align: center;
    padding: 10px 0 0;
}
#infoBox
{
    font-size: 80%;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 202px
}
#infoBox #infoBoxBeak
{
    position: absolute;
    top: 20px;
    left: 0;
}
#infoBox #box
{
    width: 140px;
    border: medium solid #999999;
    position: absolute;
    top: 0;
    left: 22px;
    min-height: 100px;
    background-color: White;
    padding: 5px;
}
#infoBox #box #closeInfoBox
{
    float: right;
    cursor: pointer;
}
#infoBox #box #ibTitle
{
    border-bottom: solid 2px #999999;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
#infoBox #box #ibRating, #infoBox #box #ibInspectionDate, #infoBox #box #ibSocialLinks
{
    padding-top: 5px;
    padding-bottom: 5px;
}

#infoBox #infoBoxRightBeak {
    margin-left: 37px;
}

/*search box*/
.add3DSeperatorLines
{
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 5px;
    border-top: 1px solid #ffffff;
    padding-top: 10px;
}
.addfirst3DSeperatorLines
{
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 5px;
    border-top: 1px solid #ffffff;
    padding-top: 0;
}
.searchBoxSelector
{
    height: 2em;
    padding-bottom: 5px;
}
.searchBoxSelector label
{
    width: 170px;
}
.searchBoxSelector select
{
    position: relative;
    left: 180px;
    top: -1.8em;
    width: 258px;
}
.searchFilterDropDowns
{
    float: left;
    margin-bottom: 2px;
    margin-left: 2px;
    padding-left: 22px;
}
.searchOrderSelector
{
    position: relative;
    height: 2em;
}
.searchOrderSelector select
{
    position: relative;
    left: 180px;
    top: -1.8em;
    width: 258px;
}
.searchOrderSelector .searchFilterDropDowns 
{
    padding-left: 0;
}
.searchFilter
{
    padding-bottom: 15px;
}
.allFilter
{
    display: none;
}
.fhrsAdvancedOptions .firstField
{
    float: left;
    margin: 5px 2px 5px 0;
}
.fhrsAdvancedOptions .middleField
{
    float: right;
    margin: 5px 2px 5px 5px;
}
.fhrsAdvancedOptions .lastField
{
    float: right;
    margin: 5px 0 5px 2px;
}
.fhrsSearchAction .fhrsShowHideAdvancedOptionsContainer
{
    float: left;
    height: 100%;
    width: 220px;
}
.showMoreArrow
{
    padding-right: 15px;
    background: url('../images/arrowDown.png') no-repeat right center;
}
.showLessArrow
{
    padding-right: 15px;
    background: url('../images/arrowUp.png') no-repeat right;
    background-position: right center;
}
.fhrsSearchAction .fhrsShowHideAdvancedOptionsContainer a
{
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
.fhrsSearchAction .fhrsShowMap
{
    float: left;
    height: 100%;
    width: 160px;
}
.fhrsSearchAction 
{
    width: 100% !important;
    /*float: left !important;*/
    clear: left;
}

.fhrsSearchAction .fhrsSearch
{
    float: right;
    height: 100%;
    width: 50px;
}
.fhrsSearchAction label
{
    float: right;
    padding-top: 4px;
    width: 170px;
}
.searchDropDown
{
    width: 215px;
}
.laDropDown
{
    height: 1.7em;
}
.laDropDown option:nth-child(-n+5)
{
    background-color: #f0f0f0;
}
.laDropDown option:nth-child(1)
{
    background-color: #e7e7e7;
}
.laDropDown option:nth-child(1), .laDropDown option:nth-child(5)
{
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 3px;
}
.laDropDown option:nth-child(1), .laDropDown option:nth-child(2), .laDropDown option:nth-child(6)
{
    border-top: 1px solid #ffffff;
    padding-top: 3px;
}

/*business details page*/
.fhrsEstablishmentDetails #authorityDetails
{
    float: left;
    margin-bottom: 10px;
}
.fhrsEstablishmentDetails #authorityImage
{
    float: left;
    margin-bottom: 10px;
}
.fhrsEstablishmentDetails
{
    font-size: 1.2em;
    margin-top: 20px;
}
.fhrsEstablishmentDetails .rating
{
    float: left;
    margin: 0 20px 10px 0;
}
.fhrsEstablishmentDetails .details
{
    display: block;
    overflow: hidden;
}
.fhrsEstablishmentDetails .map
{
    width: 100%;
    border: solid 1px black;
    min-height: 140px;
    margin: 5px 0 15px 0;
}
.fhrsEstablishmentDetails .clsNoBingMap
{
    color: #676711;
    float: left;
    font-size: 80%;
    padding: 60px 140px 60px 140px;
    text-align: center;
}
.fhrsEstablishmentDetails .map img
{
    width: 100%;
}
.fhrsEstablishmentDetails .box
{
    width: 100%;
}
.fhrsEstablishmentDetails .box .boxHeader
{
    background-color: #5D9611;
    color: white;
    font-weight: bold;
    height: 20px;
    padding: 5px 0 0 5px;
}
.fhrsEstablishmentDetails .box .boxContent
{
    margin: 15px 0 15px 0;
}
.fhrsEstablishmentDetails textarea
{
    width: 100%;
    height: 100px;
}

.moreResultsProgress
{
    width: 100%;
    float: left;
    text-align: center;
}

.locationRadarIcon {
    
    /*position: absolute;
    left: 94%;
    top: 14px;*/
    float: left;
    margin-left: -4px;
    margin-top: 14px;
    width: 27px;
    height: 30px;
    background: url('../images/RadarTarget.png') no-repeat;
    display:block;
    cursor: pointer;
}

.searchAddress
{
    width: 184px !important;
}

.locationServiceError {
    background-position: 0 -30px;
}
    
.locationServiceOff {
    background-position: 0 -30px;
}
 
.locationFound {
    background-position: 0 -60px;
    top: 44px;
}    
.locationSwitch
{
    width: 100%;
    float: left;
}
.cannotUseLocation
{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.locationCheckboxImage{
    background: url("/images/switch-off.gif") no-repeat;     
    width: 62px;
    height: 30px;
}  

.locationCheckboxImage.checked
{
    background: url("/images/switch-on.gif") no-repeat;
}

.locationCheckboxImageCy{
    background: url("/images/switch-off-cy.gif") no-repeat;     
    width: 62px;
    height: 30px;
}  

.locationCheckboxImageCy.checked
{
    background: url("/images/switch-on-cy.gif") no-repeat;
}

.locationSwitchLabel
{
    float: left;
    width: 216px;
}
.cannotUseLocationLabel
{
    float: left;
    width: 260px;
}
.locationSwitchCheckbox
{
    margin-left: 10px;
    float: left;
}

.searchAreaSelector {
    float: right;
    margin-bottom: 10px;
    clear: both;
    width: 100%;
}
.includeDistanceLabel {
    float: left;
}
.searchAreaDropDown {
    float: right;
}

.dontShow {
      display: none;
}

.scoreHeader
{
    margin: 0;
    text-align: left;
    vertical-align: top;
    font-size: 1.1em;
    white-space: normal;
    color: Black !important;
}

.scoreDescriptors
{
    margin: 0;
    text-align: left;
    vertical-align: top;
    font-size: 1em;
    white-space: normal;
    border: solid 1px #92d050;
    color: Black !important;
}
.scoreDescriptorsHeader
{
    margin: 0;
    width: auto;
    text-align: left;
    vertical-align:middle;
    font-size: 1em;
    font-weight:  bold;
    white-space: normal;
    border: solid 1px #92d050;
    color: Black !important;
}
.scoreDescriptorsValues
{
    margin: 0;
    width: 25%;
    text-align: left;
    vertical-align:middle;
    font-size: 1em;
    font-weight:  bold;
    white-space: normal;
    background-color: #92d050;
    border: solid 1px white;
    color: Black !important;
}

.scoreDescriptorsValuesTop
{
    margin: 0;
    width: 25%;
    text-align: left;
    vertical-align:middle;
    font-size: 1em;
    font-weight:  bold;
    white-space: normal;
    background-color: #92d050;
    border-left: solid 1px white;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    border-top: solid 1px #92d050;
    color: Black !important;
}


.scoreDescriptorsValuesBottom
{
    margin: 0;
    width: 25%;
    text-align: left;
    vertical-align:middle;
    font-size: 1em;
    font-weight:  bold;
    white-space: normal;
    background-color: #92d050;
    border-left: solid 1px white;
    border-right: solid 1px white;
    border-top: solid 1px white;
    border-bottom: solid 1px #92d050;
    color: Black !important;
}


