﻿
.statementBannerContent 
{ 
	background: #c9d85b; 
}

.statementBanner A 
{
	color: Black;
}

.statementBanner P 
{
	color: Black;
}

.statementBanner P.more 
{
	background: url(../images/st_banner_bullet_england.png) no-repeat 0px 0.2em; 
}

.statementBannerImage span {
	position: absolute; 
	width: 19px; 
	background: url(../images/st_banner_curve_fhrs.png) no-repeat 0px 0px; 
	height: 190px; 
	top: 0px; 
	left: 0px
}


.localAreaSearch FIELDSET DIV.first 
{
	WIDTH: 215px
}

.ie6 .localAreaSearch FIELDSET DIV.first 
{
	WIDTH: 204px
}

.localAreaSearch FIELDSET DIV.last 
{
	WIDTH: 210px; 
	PADDING-RIGHT: 0px
}

.ie6 .localAreaSearch FIELDSET DIV.last 
{
	WIDTH: 2150px; 
	PADDING-RIGHT: 0px
}

.languageSelect .btn
{
	margin-top:6px;
}

.languageSelect .btn SPAN.m_r SPAN.flagWrap 
{
	line-height:1;
	font-size:0.45em;
	height:0px;
}

.ie6 .languageSelect .btn 
{
	BACKGROUND: url(../images/button_m.gif) #02684a repeat-x 0px 7px;
}

.ie7 .languageSelect .btn 
{
	BACKGROUND: url(../images/button_m.gif) #02684a repeat-x 0px 7px;
}

.ie8 .languageSelect .btn 
{
	BACKGROUND: url(../images/button_m.gif) #02684a repeat-x 0px 7px;
}

.ie6 .languageSelect .btn SPAN.m 
{
	BACKGROUND: url(../images/button_ml.gif) repeat-y left top;
}

.ie7 .languageSelect .btn SPAN.m 
{
	BACKGROUND: url(../images/button_ml.gif) repeat-y left top;
}

.ie8 .languageSelect .btn SPAN.m 
{
	BACKGROUND: url(../images/button_ml.gif) repeat-y left top;
}

.ie6 .languageSelect .btn SPAN.t 
{
	BACKGROUND-IMAGE: url(../images/button_tl.gif)
}

.ie7 .languageSelect .btn SPAN.t 
{
	BACKGROUND-IMAGE: url(../images/button_tl.gif)
}

.ie8 .languageSelect .btn SPAN.t 
{
	BACKGROUND-IMAGE: url(../images/button_tl.gif)
}
.ie6 .languageSelect .btn SPAN.b {
	BACKGROUND-IMAGE: url(../images/button_bl.gif)
}

.ie7 .languageSelect .btn SPAN.b 
{
	BACKGROUND-IMAGE: url(../images/button_bl.gif)
}

.ie8 .languageSelect .btn SPAN.b 
{
	BACKGROUND-IMAGE: url(../images/button_bl.gif)
}

.ie6 .languageSelect .btn SPAN.t SPAN {
	BACKGROUND-IMAGE: url(../images/button_tr.gif);
}

.ie7 .languageSelect .btn SPAN.t SPAN 
{
	BACKGROUND-IMAGE: url(../images/button_tr.gif);
}

.ie8 .languageSelect .btn SPAN.t SPAN 
{
	BACKGROUND-IMAGE: url(../images/button_tr.gif);
}

.ie6 .languageSelect .btn SPAN.b SPAN 
{
	BACKGROUND-IMAGE: url(../images/button_br.gif);
}

.ie7 .languageSelect .btn SPAN.b SPAN 
{
	BACKGROUND-IMAGE: url(../images/button_br.gif);
}

.ie8 .languageSelect .btn SPAN.b SPAN 
{
	BACKGROUND-IMAGE: url(../images/button_br.gif);
}

.ie6 .languageSelect .btn SPAN.m SPAN.m_r 
{
	BACKGROUND: url(../images/button_mr.gif) repeat-y right top;
}

.ie7 .languageSelect .btn SPAN.m SPAN.m_r 
{
	BACKGROUND: url(../images/button_mr.gif) repeat-y right top;
}

.ie8 .languageSelect .btn SPAN.m SPAN.m_r 
{
	BACKGROUND: url(../images/button_mr.gif) repeat-y right top;
}
